<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_FILE">logs/application3.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </Console>

        <!-- Rolling file appender with the defined pattern and file location -->
        <RollingFile name="File" fileName="${LOG_FILE}" filePattern="${LOG_FILE}.%i">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger configuration, set to INFO to reduce noise -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <!-- Logger for specific package set to DEBUG level -->
        <Logger name="com.example.spe_backend.service" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Adjust log levels for Spring Boot auto-configuration to WARN or ERROR to reduce noise -->
        <Logger name="org.springframework.boot.autoconfigure" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.springframework.context.annotation" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>
